# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode
*.code-workspace
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.husky
config-dev.yaml
bin
.vite
gin-bin
package-lock.json
components.d.ts
auto-imports.d.ts
pnpm-lock.yaml
*.zip
**/backend-mock/**
**/.turbo/**
